
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // --- חוק אורך חיים גלובלי (Kill Switch) ---
    function isProjectActive() {
      return request.time < timestamp.date(2056, 1, 24);
    }
    
    function isSignedIn() {
      return request.auth != null;
    }
    
    // בדיקה אם המשתמש הוא אדמין (לפי המסמך שלו בדאטה בייס)
    function isAdmin() {
      return isSignedIn() && 
             exists(/databases/$(database)/documents/users/$(request.auth.uid)) &&
             get(/databases/$(database)/documents/users/$(request.auth.uid)).data.isAdmin == true;
    }

    // *** חוק הברזל של המנהל הראשי ***
    function isMasterAdmin() {
       return isSignedIn() && request.auth.token.email == 'saharmish93@gmail.com';
    }

    match /trips/{tripId} {
      allow read: if isProjectActive() && isSignedIn();
      // חובה לוודא שהנהג יוצר נסיעה בשם עצמו (או שמנהל יוצר)
      allow create: if isProjectActive() && (isMasterAdmin() || isAdmin() || (isSignedIn() && request.resource.data.driverId == request.auth.uid));
      allow update, delete: if isProjectActive() && (isMasterAdmin() || isAdmin() || (isSignedIn() && (
        resource.data.driverId == request.auth.uid || 
        request.resource.data.diff(resource.data).affectedKeys().hasOnly(['passengers', 'availableSeats'])
      )));
    }

    match /users/{userId} {
      allow read: if isProjectActive() && isSignedIn();
      // משתמש יכול ליצור את עצמו
      allow create: if isProjectActive() && (isMasterAdmin() || (isSignedIn() && request.auth.uid == userId));
      // משתמש יכול לעדכן את עצמו, אבל אסור לו לשנות את שדה ה-isAdmin בעצמו (רק מנהל יכול)
      allow update: if isProjectActive() && (isMasterAdmin() || isAdmin() || (isSignedIn() && request.auth.uid == userId && (!request.resource.data.diff(resource.data).affectedKeys().hasAny(['isAdmin']))));
      allow delete: if isProjectActive() && (isMasterAdmin() || isAdmin() || (isSignedIn() && request.auth.uid == userId));
    }

    match /notifications/{notifId} {
      allow create: if isProjectActive() && isSignedIn();
      allow read, update, delete: if isProjectActive() && (isMasterAdmin() || isAdmin() || (isSignedIn() && resource.data.userId == request.auth.uid));
    }
    
    match /system_announcements/{msgId} {
      allow read: if isProjectActive() && isSignedIn(); 
      allow write: if isProjectActive() && (isAdmin() || isMasterAdmin());
    }

    match /reports/{reportId} {
      allow create: if isProjectActive() && isSignedIn();
      allow read, update, delete: if isProjectActive() && (isAdmin() || isMasterAdmin());
    }
    
    match /typing_status/{tripId} {
      allow read, write: if isProjectActive() && isSignedIn();
    }
    
    match /messages/{msgId} {
      allow read, create: if isProjectActive() && isSignedIn();
    }
  }
}